body {
    background-color: lightgray;
}

#title {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
}

#head {
    font-size: 45px;
    font-weight: 500;
    font-family: sans-serif;
}

#sub {
    margin-top: 17px;
    font-size: large;
}
#img-div {
    background-color: white;
    padding: 10px;
    margin : 0px;
    text-align: center;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#img-caption {
    margin: 10px;
    text-align: center;
}

#tribute-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: grid;
    grid-template-columns: 55fr;
    grid-row-gap: 18px;
    justify-content: center;
    margin: 32px;
}

@media(min-width: 560px) {
    #tribute-info {
        grid-template-columns: 550px;
    }
}

#A {
    margin: 38px;
}

#footer {
    font-size: large;
    font-weight: bold;
    text-align: center;
}
